html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:focus,
input:focus {
  outline: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "OpenSans", sans-serif;
  background: #e5e5e5;
}

.container {
  max-width: 1246px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-reset:focus {
  outline: none;
}

.flex {
  display: flex;
}

.list-reset {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.text-reset {
  margin: 0;
}

.btn-secondary {
  padding: 12px 25px;
  margin: 0 auto;
  border: 1px solid #9873ff;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9873ff;
  gap: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.btn-primary {
  padding: 12px 35px;
  background: #9873ff;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #b89eff;
  border-color: #b89eff;
  color: #fff;
}

.headings__btn.rotate .headings__icon {
  transform: rotate(180deg);
}

.headings__item:first-child .headings__btn.rotate .headings__icon {
  transform: rotate(360deg);
}

.mask.display {
  display: flex;
}

.btn-primary[disabled],
.btn-primary:disabled {
  background: #c8c5d1;
}
