.clients {
  padding: 50px 0;
}

.clients__wrap {
  position: relative;
}

.clients__title {
  margin: 0 0 25px 0;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.headings {
  padding: 0 0 0 20px;
}

.clients__sort-table {
  width: 100%;
  background-color: #e5e5e5;
}

.headings__item,
.headings__btn {
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.headings__btn {
  align-items: center;
  gap: 2px;
  transition: color 0.3s ease-in-out;
}

.headings__btn:hover {
  color: #333;
}

.headings__item:nth-child(1) {
  margin: 0 80px 0 0;
}

.headings__item:nth-child(2) {
  margin: 0 125px 0 0;
}

.headings__item:nth-child(3) {
  margin: 0 30px 0 0;
}

.headings__item:nth-child(4) {
  margin: 0 47px 0 0;
}

.headings__item:nth-child(5) {
  margin: 0 100px 0 0;
}

.headings__icon {
  transition: transform 0.3s ease;
}

.headings__item-span {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #9873ff;
}

.headings__item:first-child .headings__icon {
  transform: rotate(180deg);
}

.clients__items-wrap {
  margin: 0 0 40px 0;
  position: relative;
  background-color: #fff;
}

/*loader*/
.mask {
  display: none; /*---*/
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 1;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 75px;
  height: 75px;
  background-image: url("../img/loader.svg");
  background-position: center;
  background-size: contain;
  animation: loader 1.3s linear infinite;
}

.clients__list {
  position: relative;
}

.clients__list table {
  opacity: 0;
  width: 100%;
  min-height: 300px;
}

.clients__list table.on-load {
  opacity: 1 !important;
  min-height: auto !important;
}

.clients__table-row {
  display: flex;
  padding: 15px 18px;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid #c8c5d1;
  animation: opacity 0.4s ease-in-out;
}

.clients__table-row:last-child {
  border: none;
}

.client__cell {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.client__cell-1 {
  margin: 0 20px 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}
.client__cell-2 {
  min-width: 280px;
  margin: 0 20px 0 0;
}

.client__cell-3 {
  margin: 0 65px 0 0;
}

.client__cell-4 {
  margin: 0 80px 0 0;
}

.client__cell-5 {
  margin: 0 50px 0 0;
}

.client__time {
  padding: 0 0 0 7px;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}

.client__btn {
  padding-left: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  background-position: left top;
  background-repeat: no-repeat;
  transition: color 0.2s ease-in-out;
}

.client__update-btn {
  position: relative;
  margin: 0 30px 0 0;
  background-image: url("../img/update.svg");
}
.client__delete-btn {
  background-image: url("../img/delete.svg");
  background-position: left 2px;
}

.client__update-btn.update-loader {
  background-image: none;
}

.update-loader span {
  position: absolute;
  left: -5px;
}

.client__update-btn:hover {
  color: #9873ff;
}

.client__delete-btn:hover {
  color: #f06a4d;
}

.contacts__list {
  display: flex !important;
  flex-wrap: wrap;
  gap: 6px;
  width: 107px;
}

.contacts__item {
  display: block;
  height: 16px;
}

.contacts__item:nth-child(-n + 5) {
  display: block;
}

.contacts__show-btn {
  width: 16px;
  height: 16px;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: #333333;
  border: 1px solid #9873ff;
  border-radius: 50%;
  text-align: center;
}

.contacts__icon {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.contacts__icon:hover {
  opacity: 1;
}

.contacts__tooltip {
  bottom: 150% !important;
}
.contacts__link {
  color: #b89eff;
  font-weight: 700;
  text-decoration: underline;
}

.clients__btn span svg path {
  transition: fill 0.3s ease-in-out;
}

.clients__btn:hover span svg path {
  fill: #fff;
}
